#box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    color: black;
    border: 1px solid black;
}

#listed{
    height: 300px;
    width: 100px;
    background-color: green;
    color: black;
    border: 1px solid black;
}